
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NeueHaasGrostek';
  src: url('./assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Black.ttf')  
  /* src: url('../assets/fonts/NeueHaasGrostek.woff') format('woff'), */
  /* src: url('../assets/fonts/NeueHaasGrostek.woff2') format('woff2'), */
}
@font-face {
  font-family: 'NeueHaasGrostekLight';
  src: url('./assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Light.ttf')  
  /* src: url('../assets/fonts/NeueHaasGrostek.woff') format('woff'), */
  /* src: url('../assets/fonts/NeueHaasGrostek.woff2') format('woff2'), */
}
@font-face {
  font-family: 'NeueHaasGrostekBold';
  src: url('./assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Bold.ttf')  
  /* src: url('../assets/fonts/NeueHaasGrostek.woff') format('woff'), */
  /* src: url('../assets/fonts/NeueHaasGrostek.woff2') format('woff2'), */
}
@font-face {
  font-family: 'brFirma';
  src: url('./assets/fonts/br-firma/BRFirma-Regular-BF65557b67059a7.otf')  
  /* src: url('../assets/fonts/NeueHaasGrostek.woff') format('woff'), */
  /* src: url('../assets/fonts/NeueHaasGrostek.woff2') format('woff2'), */
}
.App {
  text-align: center;
  font-family: 'brFirma';
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.full-container{ 
  position: relative;
  height: 100vh; /* Make each section full screen height */
  display: flex;
  justify-content: center;
  align-items: center;
}
.body{
  min-width: 100vw;
  min-height: 100vh;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* Media query for larger screens */
  @media screen and (min-width: 768px) {
    max-width: 720px; /* Adjust the maximum width for laptops */
  }

  /* Media query for extra-large screens */
  @media screen and (min-width: 1024px) {
    max-width: 960px; /* Adjust the maximum width for larger monitors */
  }

  /* Media query for very large screens */
  @media screen and (min-width: 1280px) {
    max-width: 1140px; /* Adjust the maximum width for very large monitors */
  }

  /* Media query for extremely large screens */
  @media screen and (min-width: 1440px) {
    max-width: 1320px; /* Adjust the maximum width for extremely large monitors */
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.bg-dark{
  background-color: #2d2d23;
  color: white
}

.bg-semi-light{
  background-color: #f2e0cf;

}
.home-img{
  max-width: 500px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.text-gray {
  color:#9e9e9e
}
.hollow-button {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 4px; /* Adding border radius */
  color: black;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s, border-color 0.3s, box-shadow 0.3s;
  outline: none; /* Remove default focus outline */
}
.p-carousel-item{
  display: flex;
}

.hollow-button:hover,
.hollow-button:focus {
  color: blue;
  border-color: blue;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add elevation effect */
}

.hollow-button:active {
  box-shadow: none; /* Remove shadow on click */
}

.quote{
  max-width: 35vw;
  text-align: left;
}
.sticky-text {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 50%; /* Start sticking when 50% from the top */
  transform: translateY(-50%); /* Center the text vertically */
}
.App-link {
  color: #61dafb;
}
.max-h-img{
  max-height: 500px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 767px) {
  .quote{
    width:100vw !important;
  }
  .video-background {
      width: 100%;
      height: auto;
  }
}